projects/dark-project-arena/workflows/20250109_wf-05-hot-lead-handoff_v001.json
{
  "name": "WF-05 Hot Lead Handoff",
  "nodes": [
    {
      "id": "webhook-trigger-001",
      "name": "Hot Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 400],
      "parameters": {
        "httpMethod": "POST",
        "path": "hot-lead-handoff",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "bitrix24-trigger-001",
      "name": "Bitrix24 Hot Lead Trigger",
      "type": "n8n-nodes-base.bitrix24Trigger",
      "typeVersion": 1,
      "position": [260, 600],
      "parameters": {
        "resource": "lead",
        "event": "update",
        "additionalFields": {
          "filter": {
            "STATUS_ID": "HOT"
          }
        }
      },
      "credentials": {
        "bitrix24Api": {
          "id": "BITRIX24_CRM",
          "name": "Bitrix24 CRM"
        }
      }
    },
    {
      "id": "get-lead-full-001",
      "name": "Get Full Lead Data",
      "type": "n8n-nodes-base.bitrix24",
      "typeVersion": 1,
      "position": [460, 500],
      "parameters": {
        "resource": "lead",
        "operation": "get",
        "leadId": "={{ $json.leadId || $json.ID }}"
      },
      "credentials": {
        "bitrix24Api": {
          "id": "BITRIX24_CRM",
          "name": "Bitrix24 CRM"
        }
      }
    },
    {
      "id": "prepare-handoff-data-001",
      "name": "Prepare Handoff Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [660, 500],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "handoffData",
              "name": "handoffData",
              "type": "object",
              "value": "={{ {\n  leadId: $json.ID,\n  timestamp: new Date().toISOString(),\n  clubInfo: {\n    name: $json.TITLE,\n    city: $json.ADDRESS_CITY,\n    region: $json.ADDRESS_PROVINCE,\n    address: $json.ADDRESS,\n    isChain: $json.UF_CRM_IS_CHAIN === 'Y',\n    coordinates: $json.UF_CRM_COORDINATES\n  },\n  contacts: {\n    phone: $json.PHONE?.[0]?.VALUE || '',\n    email: $json.EMAIL?.[0]?.VALUE || '',\n    telegram: $json.UF_CRM_TELEGRAM || '',\n    contactPerson: $json.NAME || 'Не указано'\n  },\n  engagement: {\n    source: $json.SOURCE_DESCRIPTION,\n    createdDate: $json.DATE_CREATE,\n    lastActivity: $json.DATE_MODIFY,\n    comments: $json.COMMENTS\n  },\n  opportunity: {\n    estimatedDealSize: $json.OPPORTUNITY || 0,\n    currency: $json.CURRENCY_ID || 'RUB'\n  }\n} }}"
            }
          ]
        }
      }
    },
    {
      "id": "generate-proposal-001",
      "name": "Generate Commercial Proposal",
      "type": "n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [860, 500],
      "parameters": {
        "model": "gpt-4o",
        "temperature": 0.3,
        "maxTokens": 2000,
        "systemMessage": "Ты - эксперт по составлению коммерческих предложений для компьютерных клубов. Создавай структурированные, убедительные КП с фокусом на выгоды клиента.",
        "messages": "={{ `Создай персонализированное коммерческое предложение для:\n\nКлуб: ${$json.handoffData.clubInfo.name}\nГород: ${$json.handoffData.clubInfo.city}\nСеть: ${$json.handoffData.clubInfo.isChain ? 'Да' : 'Нет'}\n\nВключи:\n1. Персональное обращение\n2. Анализ потребностей (исходя из типа клуба)\n3. Рекомендуемый комплект оборудования Dark Project Arena\n4. Расчет ROI и окупаемости\n5. Специальные условия (если сеть)\n6. Призыв к действию\n\nИспользуй данные:\n- Мыши Arena: 2500-3500 руб\n- Клавиатуры Arena: 3000-4500 руб\n- Гарнитуры Arena: 4000-6000 руб\n- Ковры Arena: 1500-2000 руб\n- Средний чек клуба: 150 руб/час\n- Увеличение посещаемости с новым оборудованием: 15-20%` }}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "LLM_KEY",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "create-pdf-proposal-001",
      "name": "Generate PDF via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1060, 500],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PDF_SERVICE_URL }}/render",
        "jsonParameters": true,
        "sendBody": true,
        "bodyParametersJson": "={{ { html: `<html><head><meta charset=\\\"utf-8\\\"></head><body><h2>Коммерческое предложение</h2><p><b>Клуб:</b> ${$json.handoffData.clubInfo.name}</p><p><b>Город:</b> ${$json.handoffData.clubInfo.city}</p><hr/><div style=\\\"white-space:pre-wrap\\\">${$json.message}</div></body></html>` } }}",
        "responseFormat": "file",
        "options": { "timeout": 60000 },
        "settings": { "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000 }
      }
    },
    {
      "id": "notify-supplier-telegram-001",
      "name": "Notify Supplier Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1260, 400],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.SUPPLIER_TELEGRAM_CHAT_ID }}",
        "text": "={{ `🔥 *ГОРЯЧИЙ ЛИД!*\n\n🏢 *Клуб:* ${$json.handoffData.clubInfo.name}\n📍 *Город:* ${$json.handoffData.clubInfo.city}\n${$json.handoffData.clubInfo.isChain ? '🔗 *Сетевой клуб*\n' : ''}\n📞 *Телефон:* ${$json.handoffData.contacts.phone}\n✉️ *Email:* ${$json.handoffData.contacts.email || 'Не указан'}\n💬 *Telegram:* ${$json.handoffData.contacts.telegram || 'Не указан'}\n\n💰 *Потенциал сделки:* ${$json.handoffData.opportunity.estimatedDealSize || 'Не оценен'} ${$json.handoffData.opportunity.currency}\n\n📋 *История взаимодействия:*\n${$json.handoffData.engagement.comments?.slice(-500) || 'Нет комментариев'}\n\n📎 КП отправлено на email поставщика\n🔗 [Открыть в CRM](https://your-bitrix24.ru/crm/lead/details/${$json.handoffData.leadId}/)` }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_markup": {
            "inline_keyboard": [
              [
                {
                  "text": "✅ Взять в работу",
                  "callback_data": "supplier_take_lead"
                }
              ],
              [
                {
                  "text": "📞 Связался с клиентом",
                  "callback_data": "supplier_contacted"
                }
              ]
            ]
          }
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_BOT",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "send-email-supplier-001",
      "name": "Send Email to Supplier",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1260, 600],
      "parameters": {
        "sendTo": "={{ $env.SUPPLIER_EMAIL }}",
        "subject": "={{ `🔥 Горячий лид: ${$json.handoffData.clubInfo.name} - ${$json.handoffData.clubInfo.city}` }}",
        "emailType": "html",
        "htmlBody": "={{ `<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #2c3e50; color: white; padding: 20px; text-align: center; }\n    .content { padding: 20px; background: #f4f4f4; }\n    .info-block { background: white; padding: 15px; margin: 10px 0; border-radius: 5px; }\n    .cta { background: #e74c3c; color: white; padding: 15px 30px; text-decoration: none; display: inline-block; margin: 20px 0; border-radius: 5px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🔥 Горячий лид передан в работу</h1>\n    </div>\n    <div class=\"content\">\n      <div class=\"info-block\">\n        <h2>Информация о клубе</h2>\n        <p><strong>Название:</strong> ${$json.handoffData.clubInfo.name}</p>\n        <p><strong>Город:</strong> ${$json.handoffData.clubInfo.city}</p>\n        <p><strong>Адрес:</strong> ${$json.handoffData.clubInfo.address}</p>\n        <p><strong>Сетевой клуб:</strong> ${$json.handoffData.clubInfo.isChain ? 'Да' : 'Нет'}</p>\n      </div>\n      \n      <div class=\"info-block\">\n        <h2>Контакты</h2>\n        <p><strong>Телефон:</strong> ${$json.handoffData.contacts.phone}</p>\n        <p><strong>Email:</strong> ${$json.handoffData.contacts.email || 'Не указан'}</p>\n        <p><strong>Telegram:</strong> ${$json.handoffData.contacts.telegram || 'Не указан'}</p>\n        <p><strong>Контактное лицо:</strong> ${$json.handoffData.contacts.contactPerson}</p>\n      </div>\n      \n      <div class=\"info-block\">\n        <h2>Коммерческое предложение</h2>\n        <p>${$json.message?.replace(/\\n/g, '<br>')}</p>\n      </div>\n      \n      <a href=\"https://your-bitrix24.ru/crm/lead/details/${$json.handoffData.leadId}/\" class=\"cta\">Открыть в CRM</a>\n    </div>\n  </div>\n</body>\n</html>` }}",
        "attachments": { "attachments": [ { "binaryPropertyName": "data" } ] },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIALS",
          "name": "SMTP Server"
        }
      }
    },
    {
      "id": "convert-lead-001",
      "name": "Convert Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1460, 500],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BITRIX24_DOMAIN }}/rest/crm.lead.convert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "jsonParameters": true,
        "sendBody": true,
        "bodyParametersJson": "={{ { id: $json.handoffData.leadId, params: { CONVERT_DEAL: 'Y', CONVERT_CONTACT: 'Y', CONVERT_COMPANY: 'N', DEAL_CATEGORY_ID: 0, ASSIGNED_BY_ID: $env.SUPPLIER_BITRIX_USER_ID } } }}",
        "options": { "timeout": 30000 },
        "settings": { "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000 }
      },
      "credentials": {
        "httpQueryAuth": {
          "id": "BITRIX24_WEBHOOK",
          "name": "Bitrix24 Webhook"
        }
      }
    },
    {
      "id": "log-handoff-001",
      "name": "Log Handoff Activity",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1660, 500],
      "parameters": {
        "operation": "set",
        "key": "={{ `handoff_log:${$json.handoffData.leadId}:${Date.now()}` }}",
        "value": "={{ JSON.stringify({\n  leadId: $json.handoffData.leadId,\n  clubName: $json.handoffData.clubInfo.name,\n  city: $json.handoffData.clubInfo.city,\n  handoffTime: new Date().toISOString(),\n  supplierNotified: true,\n  proposalGenerated: true,\n  estimatedValue: $json.handoffData.opportunity.estimatedDealSize\n}) }}",
        "keyType": "automatic",
        "expire": true,
        "ttl": 7776000
      },
      "credentials": {
        "redis": {
          "id": "REDIS_INTERNAL",
          "name": "Redis Internal"
        }
      }
    },
    {
      "id": "webhook-response-001",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1860, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  leadId: $json.handoffData.leadId,\n  message: 'Hot lead successfully handed off to supplier',\n  notifications: {\n    telegram: true,\n    email: true\n  },\n  timestamp: new Date().toISOString()\n} }}",
        "options": {}
      }
    },
    {
      "id": "error-handler-001",
      "name": "Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [1860, 700],
      "parameters": {}
    },
    {
      "id": "handle-error-001",
      "name": "Handle Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2060, 700],
      "parameters": {
        "functionCode": "const error = {\n  workflow: 'WF-05 Hot Lead Handoff',\n  timestamp: new Date().toISOString(),\n  error: items[0].json.error,\n  leadData: items[0].json.handoffData || {}\n};\n\nconsole.error('Hot Lead Handoff Error:', error);\n\n// Notify admin about critical error\nreturn [{ json: error }];"
      }
    },
    {
      "id": "notify-admin-error-001",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2260, 700],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "={{ `❌ *CRITICAL ERROR in Hot Lead Handoff*\n\nLead: ${$json.leadData.clubInfo?.name || 'Unknown'}\nError: ${$json.error.message}\nNode: ${$json.error.node?.name}\n\nRequires immediate attention!` }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_BOT",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Hot Lead Webhook": {
      "main": [
        [
          {
            "node": "Get Full Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bitrix24 Hot Lead Trigger": {
      "main": [
        [
          {
            "node": "Get Full Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Lead Data": {
      "main": [
        [
          {
            "node": "Prepare Handoff Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Handoff Data": {
      "main": [
        [
          {
            "node": "Generate Commercial Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Commercial Proposal": {
      "main": [
        [
          {
            "node": "Create PDF Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF via API": {
      "main": [
        [
          {
            "node": "Notify Supplier Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email to Supplier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Supplier Telegram": {
      "main": [
        [
          {
            "node": "Convert Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to Supplier": {
      "main": [
        [
          {
            "node": "Convert Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Lead": {
      "main": [
        [
          {
            "node": "Log Handoff Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Handoff Activity": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Notify Admin Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "version": 2,
  "meta": {
    "description": "Handles hot lead handoff to supplier with automated proposal generation and notifications",
    "tags": ["hot-lead", "handoff", "supplier", "proposal-generation"]
  }
}