projects/dark-project-arena/workflows/20250109_wf-05-hot-lead-handoff_v001.json
{
  "name": "WF-05 Hot Lead Handoff",
  "nodes": [
    {
      "id": "bitrix-trigger-001",
      "name": "Bitrix24 Lead Status Change",
      "type": "n8n-nodes-base.bitrix24Trigger",
      "typeVersion": 1,
      "position": [260, 400],
      "parameters": {
        "eventsUi": {
          "eventValues": [
            {
              "name": "onCrmLeadUpdate"
            }
          ]
        },
        "additionalFields": {}
      },
      "credentials": {
        "bitrix24Api": {
          "id": "BITRIX24_CRM",
          "name": "Bitrix24 CRM"
        }
      }
    },
    {
      "id": "manual-trigger-001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [260, 500],
      "parameters": {}
    },
    {
      "id": "merge-triggers-001",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [460, 450],
      "parameters": {
        "mode": "combine",
        "combinationMode": "chooseBranch",
        "options": {}
      }
    },
    {
      "id": "check-hot-status-001",
      "name": "Check Hot Lead Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 450],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "isHotLead",
              "leftValue": "={{ $json.data?.STATUS_ID || $json.STATUS_ID }}",
              "rightValue": "HOT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "get-lead-details-001",
      "name": "Get Lead Details",
      "type": "n8n-nodes-base.bitrix24",
      "typeVersion": 1,
      "position": [860, 350],
      "parameters": {
        "resource": "lead",
        "operation": "get",
        "leadId": "={{ $json.data?.ID || $json.ID || $json.leadId }}"
      },
      "credentials": {
        "bitrix24Api": {
          "id": "BITRIX24_CRM",
          "name": "Bitrix24 CRM"
        }
      }
    },
    {
      "id": "prepare-handoff-data-001",
      "name": "Prepare Handoff Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1060, 350],
      "parameters": {
        "functionCode": "const lead = $json;\n\n// Извлекаем данные лида\nconst handoffData = {\n  leadId: lead.ID,\n  leadName: lead.TITLE || 'Неизвестный клуб',\n  contactName: lead.NAME || 'Контактное лицо',\n  phone: lead.PHONE?.[0]?.VALUE || 'Не указан',\n  email: lead.EMAIL?.[0]?.VALUE || '',\n  city: lead.ADDRESS_CITY || lead.UF_CRM_CITY || 'Не указан',\n  estimatedPCs: lead.UF_CRM_ESTIMATED_PCS || 15,\n  isChain: lead.UF_CRM_IS_CHAIN === 'Y',\n  branchCount: lead.UF_CRM_BRANCH_COUNT || 1,\n  telegram: lead.UF_CRM_TELEGRAM || '',\n  comments: lead.COMMENTS || '',\n  timestamp: new Date().toISOString(),\n  handoffType: 'hot_lead'\n};\n\n// Рассчитываем потенциал сделки\nhandoffData.dealPotential = handoffData.estimatedPCs * 50000; // 50k руб за ПК\nif (handoffData.isChain) {\n  handoffData.dealPotential *= handoffData.branchCount;\n}\n\nconsole.log(`Preparing hot lead handoff for ${handoffData.leadName}`);\n\nreturn [{ json: handoffData }];"
      }
    },
    {
      "id": "generate-documents-001",
      "name": "Generate Documents",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1260, 350],
      "parameters": {
        "functionCode": "const handoff = $json;\n\n// Генерируем коммерческое предложение\nconst kp = {\n  title: `Коммерческое предложение для ${handoff.leadName}`,\n  date: new Date().toLocaleDateString('ru-RU'),\n  content: `\n**КОММЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ**\n\nДля: ${handoff.leadName}\nГород: ${handoff.city}\nКонтакт: ${handoff.contactName}\nТелефон: ${handoff.phone}\n\n**Предлагаемое решение:**\n\n1. **Периферия Dark Project Arena**\n   - Игровые клавиатуры: ${handoff.estimatedPCs} шт.\n   - Игровые мыши: ${handoff.estimatedPCs} шт.\n   - Гарнитуры: ${handoff.estimatedPCs} шт.\n   - Коврики: ${handoff.estimatedPCs} шт.\n\n2. **Условия поставки:**\n   - Оптовая цена: со скидкой 25%\n   - Доставка: бесплатно при заказе от 500 000 руб\n   - Гарантия: 2 года\n   - Замена по гарантии: в течение 48 часов\n\n3. **Специальные условия для сетей:**\n   ${handoff.isChain ? '- Дополнительная скидка 5% для сетевых клубов\\n   - Единый договор на все филиалы\\n   - Персональный менеджер' : '- Возможность тестового комплекта'}\n\n**Итоговая стоимость:** ${handoff.dealPotential.toLocaleString('ru-RU')} руб.\n\n**Контакты поставщика:**\nТел: +7 (495) 123-45-67\nEmail: sales@darkproject.ru\n`\n};\n\n// Генерируем техническое задание\nconst tz = {\n  title: `Техническое задание для ${handoff.leadName}`,\n  content: `\n**ТЕХНИЧЕСКОЕ ЗАДАНИЕ**\n\n1. **Общие требования:**\n   - Количество рабочих мест: ${handoff.estimatedPCs}\n   - Тип заведения: ${handoff.isChain ? 'Сетевой компьютерный клуб' : 'Компьютерный клуб'}\n   - Филиалов: ${handoff.branchCount}\n\n2. **Требования к периферии:**\n   - Механические клавиатуры с RGB подсветкой\n   - Игровые мыши с DPI 3200+\n   - Гарнитуры с шумоподавлением\n   - Коврики размером XL\n\n3. **Дополнительные требования:**\n   - Синхронизация подсветки\n   - ПО для управления периферией\n   - Запасные комплекты (10% от основного заказа)\n`\n};\n\nreturn [{\n  json: {\n    ...handoff,\n    documents: {\n      kp: kp,\n      tz: tz\n    }\n  }\n}];"
      }
    },
    {
      "id": "notify-supplier-telegram-001",
      "name": "Notify Supplier Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1460, 250],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_SUPPLIER_CHAT_ID }}",
        "text": "={{ `🔥 <b>ГОРЯЧИЙ ЛИД!</b>\\n\\n🏢 Клуб: ${$json.leadName}\\n📍 Город: ${$json.city}\\n👤 Контакт: ${$json.contactName}\\n📱 Телефон: ${$json.phone}\\n💼 Потенциал сделки: ${$json.dealPotential.toLocaleString('ru-RU')} руб\\n🔗 Сеть: ${$json.isChain ? 'Да (' + $json.branchCount + ' филиалов)' : 'Нет'}\\n\\n📄 КП и ТЗ отправлены на email\\n\\n⚡️ Свяжитесь в течение 2 часов!` }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_notification": false,
          "reply_markup": {
            "inline_keyboard": [
              [
                {
                  "text": "✅ Взял в работу",
                  "callback_data": "take_lead_{{$json.leadId}}"
                },
                {
                  "text": "📞 Позвонить",
                  "url": "tel:{{$json.phone}}"
                }
              ]
            ]
          }
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_BOT",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "send-email-supplier-001",
      "name": "Send Email to Supplier",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1460, 450],
      "parameters": {
        "sendTo": "={{ $env.SUPPLIER_EMAIL }}",
        "subject": "🔥 Горячий лид: {{ $json.leadName }} - {{ $json.city }}",
        "emailType": "html",
        "message": "={{ `<h2>Горячий лид требует немедленного внимания!</h2>\\n<p><strong>Клуб:</strong> ${$json.leadName}<br>\\n<strong>Город:</strong> ${$json.city}<br>\\n<strong>Контакт:</strong> ${$json.contactName}<br>\\n<strong>Телефон:</strong> <a href='tel:${$json.phone}'>${$json.phone}</a><br>\\n<strong>Email:</strong> ${$json.email || 'Не указан'}<br>\\n<strong>Потенциал сделки:</strong> ${$json.dealPotential.toLocaleString('ru-RU')} руб<br>\\n<strong>Сеть:</strong> ${$json.isChain ? 'Да (' + $json.branchCount + ' филиалов)' : 'Нет'}</p>\\n\\n<h3>Коммерческое предложение:</h3>\\n<pre>${$json.documents.kp.content}</pre>\\n\\n<h3>Техническое задание:</h3>\\n<pre>${$json.documents.tz.content}</pre>\\n\\n<p style='color: red;'><strong>⚡ Необходимо связаться с клиентом в течение 2 часов!</strong></p>` }}",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "credentials": {
        "smtp": {
          "id": "SMTP_SERVER",
          "name": "SMTP Server"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "update-lead-status-001",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.bitrix24",
      "typeVersion": 1,
      "position": [1660, 350],
      "parameters": {
        "resource": "lead",
        "operation": "update",
        "leadId": "={{ $json.leadId }}",
        "updateFields": {
          "STATUS_ID": "IN_PROCESS",
          "COMMENTS": "={{ $json.comments + '\\n\\n[' + new Date().toISOString() + '] Передан поставщику. КП отправлено.' }}"
        }
      },
      "credentials": {
        "bitrix24Api": {
          "id": "BITRIX24_CRM",
          "name": "Bitrix24 CRM"
        }
      }
    },
    {
      "id": "log-handoff-001",
      "name": "Log Handoff",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1860, 350],
      "parameters": {
        "operation": "set",
        "key": "={{ `handoff:hot:${$json.leadId}:${Date.now()}` }}",
        "value": "={{ JSON.stringify($json) }}",
        "expire": true,
        "ttl": 2592000
      },
      "credentials": {
        "redis": {
          "id": "REDIS_INTERNAL",
          "name": "Redis Internal"
        }
      }
    },
    {
      "id": "create-task-001",
      "name": "Create Follow-up Task",
      "type": "n8n-nodes-base.bitrix24",
      "typeVersion": 1,
      "position": [2060, 350],
      "parameters": {
        "resource": "task",
        "operation": "create",
        "title": "Проверить статус горячего лида {{ $json.leadName }}",
        "description": "={{ `Проверить результат передачи горячего лида поставщику.\\n\\nКлуб: ${$json.leadName}\\nГород: ${$json.city}\\nПотенциал: ${$json.dealPotential.toLocaleString('ru-RU')} руб\\n\\nСвязаться с поставщиком и узнать статус переговоров.` }}",
        "additionalFields": {
          "deadline": "={{ new Date(Date.now() + 24*60*60*1000).toISOString() }}",
          "responsible_id": "={{ $env.SALES_MANAGER_ID }}",
          "crm": {
            "lead": ["{{ $json.leadId }}"]
          }
        }
      },
      "credentials": {
        "bitrix24Api": {
          "id": "BITRIX24_CRM",
          "name": "Bitrix24 CRM"
        }
      }
    },
    {
      "id": "complete-001",
      "name": "Complete",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2260, 350],
      "parameters": {
        "functionCode": "const result = {\n  success: true,\n  workflow: 'WF-05',\n  action: 'hot_lead_handoff',\n  leadId: $json.leadId,\n  leadName: $json.leadName,\n  supplierNotified: true,\n  documentsGenerated: true,\n  taskCreated: true,\n  timestamp: new Date().toISOString()\n};\n\nconsole.log(`Hot lead handoff completed for ${result.leadName}`);\n\nreturn [{ json: result }];"
      }
    },
    {
      "id": "error-trigger-001",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [260, 700],
      "parameters": {}
    },
    {
      "id": "handle-error-001",
      "name": "Handle Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 700],
      "parameters": {
        "functionCode": "const error = {\n  workflow: 'WF-05 Hot Lead Handoff',\n  timestamp: new Date().toISOString(),\n  error: $json.error?.message || 'Unknown error',\n  node: $json.error?.node?.name || 'Unknown',\n  leadId: $node['Prepare Handoff Data']?.json?.leadId || 'Unknown'\n};\n\nconsole.error('WF-05 Error:', error);\n\nreturn [{ json: error }];"
      }
    },
    {
      "id": "notify-error-001",
      "name": "Notify Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [660, 700],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "={{ `❌ <b>WF-05 Hot Lead Handoff Error</b>\\n\\n🔴 Error: ${$json.error}\\n📍 Node: ${$json.node}\\n🆔 Lead ID: ${$json.leadId}\\n🕐 Time: ${new Date($json.timestamp).toLocaleString('ru-RU')}` }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_BOT",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Bitrix24 Lead Status Change": {
      "main": [[{"node": "Merge Triggers", "type": "main", "index": 0}]]
    },
    "Manual Trigger": {
      "main": [[{"node": "Merge Triggers", "type": "main", "index": 1}]]
    },
    "Merge Triggers": {
      "main": [[{"node": "Check Hot Lead Status", "type": "main", "index": 0}]]
    },
    "Check Hot Lead Status": {
      "main": [
        [{"node": "Get Lead Details", "type": "main", "index": 0}],
        []
      ]
    },
    "Get Lead Details": {
      "main": [[{"node": "Prepare Handoff Data", "type": "main", "index": 0}]]
    },
    "Prepare Handoff Data": {
      "main": [[{"node": "Generate Documents", "type": "main", "index": 0}]]
    },
    "Generate Documents": {
      "main": [[
        {"node": "Notify Supplier Telegram", "type": "main", "index": 0},
        {"node": "Send Email to Supplier", "type": "main", "index": 0}
      ]]
    },
    "Notify Supplier Telegram": {
      "main": [[{"node": "Update Lead Status", "type": "main", "index": 0}]]
    },
    "Send Email to Supplier": {
      "main": [[{"node": "Update Lead Status", "type": "main", "index": 0}]]
    },
    "Update Lead Status": {
      "main": [[{"node": "Log Handoff", "type": "main", "index": 0}]]
    },
    "Log Handoff": {
      "main": [[{"node": "Create Follow-up Task", "type": "main", "index": 0}]]
    },
    "Create Follow-up Task": {
      "main": [[{"node": "Complete", "type": "main", "index": 0}]]
    },
    "Error Trigger": {
      "main": [[{"node": "Handle Error", "type": "main", "index": 0}]]
    },
    "Handle Error": {
      "main": [[{"node": "Notify Error", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 120,
    "timezone": "Europe/Moscow"
  },
  "version": 2,
  "id": "wf-05-hot-lead-handoff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Handles hot lead handoff to supplier with document generation, notifications, and follow-up tasks",
    "version": "1.0.0"
  },
  "tags": [
    {
      "id": "1",
      "name": "production"
    },
    {
      "id": "6",
      "name": "sales"
    }
  ]
}